@font-face {
  font-family: 'robotothin';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/roboto/Roboto-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'robotolight';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto/Roboto-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'robotomedium';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto/Roboto-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'robotobold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'robotoblack';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto/Roboto-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto-condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Condensed'), local('Roboto-Condensed'), url('../fonts/roboto/Roboto-Condensed-webfont.woff') format('woff');
}

@font-face {
  font-family: 'roboto-condensedbold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Bold Condensed'), local('Roboto-Bold-Condensed'), url('../fonts/roboto/Roboto-BoldCondensed-webfont.woff') format('woff');
}

@font-face {
  font-family: 'roboto-condensed_italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Condensed Italic'), local('Roboto-Condensed-Italic'), url('../fonts/roboto/Roboto-CondensedItalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'roboto-condensedbold_italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Bold Condensed Italic'), local('Roboto-Bold-Condensed-Italic'), url('../fonts/roboto/Roboto-BoldCondensed-webfont.woff') format('woff');
}