/* FOOTER */
footer{
	position: absolute;
	width: 100%;	
	color: #fff;
	z-index: 3;
}

.footer_opciones{	
	display: table;
	padding: 20px 15px 15px 15px;	
}

.footer_opciones>a{	
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff;
	display: block;
	height: 45px;		
	line-height: 45px;		
}

.footer_opciones>a:last-child{
	border: 0;
}

.footer_opciones>a:link, .footer_opciones>a:visited, .footer_opciones>a:active{
	color: #fff;
}

.footer_opciones>a:hover{
	color: rgba(255, 255, 255, .4);
}

.footer_2da_linea{
	border-bottom: 0;
	border-top: 1px solid #fff;
	font-size: 11.5px;
	padding: 20px 0 15px 0;	
}

.footer_opciones>*:last-child{
	border-right: 0;
}

@media screen and (min-width: 768px){
	.footer_opciones{
		border-bottom: 1px solid #ffffff;
	}	
	.footer_opciones>a{
		border-bottom: 0;
		border-right: 1px solid #ffffff;
		display: table-cell;
		font-size: 13px;
		height: auto;
		line-height: 16px;
		padding: 5px 1.315789473684211%;
		text-align: center;
	}
	.footer_2da_linea{
		border-top: 0;
		padding: 20px 15px 15px 15px;	
	}
}

@media screen and (min-width: 1200px){
	.footer_2da_linea{
		text-align: center;		
	}
}