.bold {
    font-weight: bold;
}

#divisas i.igual, #bonos i.igual, #acciones_lideres i.igual{
	font-size: 18px;
    font-family: robotobold;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
}

input, select{
	border: 0;
}

.error_input{
	border: 2px solid red;
}

.error_cliente{
	position: absolute;
}

.error_input+.error_cliente{
	display: block;
}

.container.error{
	margin-top: 18vh;
	text-align: center;
}

.error_titulo {
	font-size: 150px;
	font-family: robotolight;
	text-align: center;
}

.error_404_titulo {
	font-size: 220px;
	font-family: robotolight;
	text-align: center;
}

.error_400_subtitulo, .error_subtitulo {
	font-size: 30px;
	color: #666;
	margin-top: 30px;
	text-align: center;
}

.error_subtitulo {
	font-size: 20px;
}

.error_info {
	color: #666;
	font-size: 20px;
	font-family: light;
	margin-top: 15px;
	text-align: center;
}

.error button{
	font-size: 12px;
	font-family: robotomedium;
	padding: 10px 15px;
	text-transform: uppercase;
	margin-top: 35px;
}

button{
	background: #00aeef;
	border: 0;
	color: #fff;
}

hr{
	border-color: #fff;
	width: 125px;
}

.disabled>*, [disabled]{
	background-color: #ebebe4;
}

#buttonRegistro{
	background: #00aeef;
    border: 0;
    padding: 7px;
    width: 90px;
}

#textoRegistro{
	font-weight: 500;
	margin-bottom: 27px;
	font-size: 17px;
}

/* CAPTCHA DEL FORM DE REGISTRO */
#googleRecaptcha>div>div{
	margin: auto;
/* 	left: calc(50% - 152px); */
	position: absolute;
}

.registro_captcha{
	height: 112px;
	margin: 0 -15px;
	overflow: visible;	
}

.registro_captcha .tooltip.bottom{
	left: calc(50% - 139px) !important;
	top: 117px !important;
}

.rc-anchor.rc-anchor-normal.rc-anchor-light{
	transform: scale(0.95) !important;
}

/*.chart{
	position: absolute !important;
	bottom: 0;
	left: 30px;
	width: calc(100% - 60px); 
}*/

html{
	overflow-x: hidden;
}

/* HEADER */
header{
	height: 60px;
	padding: 13.5px 0;
	position: fixed;	
	transition: height 500ms ease-in-out, padding 500ms ease-in-out;
	top: 0;
	width: 100%;
	z-index: 10;
}

header>.container, header>.container>*, .header_logo{
	height: 100%;
}

header>.container{
	padding: 0;
}

.header_logo{
	display: inline-block;
	padding: 6px 0;
	transition: all 500ms ease-in-out;
}

.header_logo>img{
	cursor: pointer;
	height: 21px;	
	transition: all 500ms ease-in-out;
	width: auto;
}

.header_boton_menu {
    cursor: pointer;
    float: left;
    padding: 13px 35px 16px 0px;
    margin-right: 30px;
}

.header_boton_menu span, .header_boton_menu span:before, .header_boton_menu span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}
.header_boton_menu span:before {
    top: -8px;
}
.header_boton_menu span:after {
    bottom: -8px;
}
.header_boton_menu.active span {
	background-color: transparent;
}

.header_boton_menu.active span:before, .header_boton_menu.active span:after {
	top: 0;
}

.header_boton_menu.active span:before {
	transform: rotate(45deg);
}

.header_boton_menu.active span:after {
	transform: rotate(-45deg);
}

.header_login{
	font-size: 18px;
	color: #ffffff;
	display: inline-block;
    cursor: pointer;
    padding-right: 15px;
    position: absolute;
    right: 0;
}

.header_login .header_login_icono{
	height: 33px;
	width: 33px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	float: right;
	padding-top: 1px;
	font-size: 24px;
}

.header_login span{
	display: none;
	float: right;
	margin-left: 10px;
	padding-top: 4.5px;
	font-family: robotothin;
}

.login_recuperar_contrasena {    
    height: 100%;
    left: 0;
    padding: 45px 30px;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.8s ease-in-out;
    width: 100%;
    z-index: 1;
}

.modal_login .login_recuperar_contrasena h5 {
	height: 74px;
}

.login_recuperar_contrasena.active{
	transform: translateY(0);
}

.modal_login .login_recuperar_contrasena button, .modal_login .legales_botones button{
	float: left;
	width: calc(50% - 15px);
}

.modal_login .login_recuperar_contrasena button+button, .modal_login .legales_botones button+button{
	margin-left: 30px;
}

.header_logout{		
    color: #ffffff;
    cursor: pointer;    
    font-size: 18px;
    font-family: robotothin;
    height: 100%;
    position: absolute;
    right: 15px;
    top: 0;
}

.header_logout i{
	float: left;
	font-size: 33px;
	padding: 0;
}

.header_logout span{
	display: none;
	float: left;
	margin-left: 5px;
	padding: 4px 0;
}

/*.pop_up_login{
	display: block;
	width: calc(1170px / 4 - 30px);
    right: calc((100% - 1170px) / 2 + 30px);
	position: fixed;
	background-color: #ffffff;	
	top: 58px;
	z-index: 20;
	border: 1px solid #ddd;
	padding: 15px;
	transition: opacity 0.5s ease-in, width 1.5s ease-out;
	font-size: 14px;
	color: #666;
}

.pop_up_login.ng-hide{
	opacity:0;
}

.pop_up_login:before{
	content: '';
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    transform: rotate(45deg);
    top: -5px;
    right: 25px;
}

.pop_up_login button{
	display: block;
	float: left;
}

.pop_up_login a{
	float: right;
	color: #27C2EF;
}*/

.olvide_contrasena{
	padding-top: 6px;
}

#merval>h5{
	height: 50px;	
	padding: 17.5px 20px;
}

#merval>.tab-content{
	background-color: #4181bc;
}

#merval>.tab-content>div>div, #merval>.tab-content>div{
	background-color: #4181bc;
}

#merval>.tab-content>div{
	padding: 15px 0 25px 0;
}

#merval .highcharts-container{
	margin: 0 15px 0 18px;
	padding: 15px 0;
}

#merval .nav-pills>li{
	width: 25%;
	text-align: center;
}

.nav-pills>li+li{
	margin-left: 0;
}

.nav-pills>li>a{
	border-radius: 0;
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: rgba(0, 0, 0, .1);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #4181bc;
}

/* TEST DEL INVERSOR */
.test_inversor {
	font-family: robotolight;
	overflow: hidden;
}

.test_inversor h1 {
	font-size: 55px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.test_inversor p {
	font-family: robotomedium;
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 50px;
}

.test_inversor .chart-gauge+p{
	margin-bottom: 10px;
}

.test_inversor h3 {
	color: #fff;
	display: table-cell;
	font-family: robotomedium;
	font-size: 17px;
	line-height: 1.6;
	margin: 20px 0;
	text-align: left;
	vertical-align: middle;
}

.test_inversor h4{
	font-family: robotomedium;
	font-size: 25px;
	margin-bottom: 30px;
}

.test_inversor .wizard > .content > .body input[type="radio"], .registro_form_legales input[type="checkbox"], .wizard > .content > .body input[type="checkbox"]{
	display: none;
}

.test_inversor .wizard > .content > .body input[type="radio"]+label{
	display: block;
	float: left;
	font-family: robotolight;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 25px;
	text-align: left;
	width: 100%;
}

.test_inversor .wizard > .content > .body input[type="radio"]+label>span{
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	float: left;
	line-height: 20px;
	height: 20px;
	margin: 2px 25px 25px 0;
	text-align: center;
	width: 20px;
}

.test_inversor .wizard > .content > .body input[type="radio"].checked+label>span:before,
.registro_form_legales input[type="checkbox"].checked+label>span:before, .step_confirmacion input[type="checkbox"].checked+label>span:before{
    color: #00aeef;
    content: '✔';
    font-size: 15px;
}

.test_inversor .actions.clearfix{
	background-color: #00aeef;
	border: 0;
	height: auto;
}

.test_inversor .wizard > .actions a, .test_inversor .wizard > .actions a:hover, .test_inversor .wizard > .actions a:active, .test_inversor button{
	background-color: #0057A5;
	font-family: robotomedium;
	font-size: 15px;
	height: 51px;
	padding: 15px 20px;
	text-transform: uppercase;
}

.test_inversor .wizard > .actions a[href="#next"]:after, .test_inversor button:after{
    content: '\e908';
    float: right;
    font-size: 36px;
    font-family: 'icomoon' !important;
    margin: -15px 0 0 10px;
}

.test_inversor .wizard > .actions a[href="#previous"]{
	display: none;
}

.test_inversor .steps.clearfix{
	display: block;
}

.test_inversor .content{
	margin: 0;
}

.test_inversor_legales{
	display: none;
	font-size: 12px;
	margin-bottom: 20px;
	margin-top: 35px;
	opacity: 0;
	text-align: justify;
	transform: 0.6s;
}

.test_inversor_legales.active{
	display: block;
	opacity: 1;
}

.test_inversor_legales{
	display: none;
	font-size: 12px;
	margin-bottom: 20px;
	margin-top: 35px;
	opacity: 0;
	text-align: justify;
	transform: 0.6s;
}

.test_inversor_legales.active{
	display: block;
	opacity: 1;
}

/* Esto seria hardcodeado con js si varia la cant de steps*/
.wizard > .steps > ul > li{
	width: calc(100% / 5);
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active, .wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active/*, .wizard > .steps .current a:hover, .wizard > .steps .current a:active,
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active */{
	background: #00aeef;
	border: 5px solid #fff;
	border-radius: 50%;
	float: left;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 35px;	
	z-index: 5;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .done a, .wizard > .steps .done a:hover{
	background-color: #fff;
	border: 7px solid #4dc6f3;
	cursor: pointer;
}

/*.wizard > .steps li::before, .wizard > .steps li::after{	
	content: '';
	float: left;
	height: 5px;
	margin-top: 15px;
	width: calc(50% - 17.5px);
}*/

/*.wizard > .steps li[aria-disabled="true"]::before, .wizard > .steps li[aria-disabled="true"]::after,
.wizard > .steps li[aria-disabled="false"]::after{
	background-color: #fff;
}*/

.wizard > .steps li::before, .wizard > .steps li:last-of-type::after{
	background-color: #fff;
	content: '';
	float: left;
	height: 5px;
	margin-left: calc(-50% + 17.5px);
	margin-top: 15px;
	width: calc(100% - 35px);
	z-index: -1;
}

.wizard > .steps li:last-of-type::after{
	float: right;
	width: calc(50% - 17.5px);
}

.wizard > .steps li.current::before, .wizard > .steps li.done::before{
	background-color: #4dc6f3;
}

/*.wizard > .steps li[aria-disabled="false"]::before, .wizard > .steps li.done+li.done[aria-disabled="false"]::after{
	background-color: #4dc6f3;
}*/

.wizard > .steps a>*{
	display: none;
}

/*.steps.clearfix::before{
	background-color: #fff;
	height: 5px;
	position: absolute;
	top: 15px;
	width: 100%;
}*/


/* WRAPPER */
body{
	margin-top: 60px;
}

aside{
	color: #666;
	min-height: calc(100vh - 70px);
	left: 0;
	position: fixed;
	top: 60px;
	width: 250px;
	z-index: 2;	
	transform: translateX(-250px);
	transition: translateX 0.3s, top 500ms ease-in-out;
}

aside.desplegado{
	transform: translateX(0);
}

.aside_usuario{
	cursor: pointer;
    padding: 25px 15px 40px 15px;
    min-height: 100px;
    display: block;
    border-bottom: 1px solid #ddd;

}

.aside_usuario_icono{
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-size: 30px;
    height: 45px;    
    margin-right: 10px;
    margin-top: 2px;
    padding: 6px 0;
    width: 45px;
}

.aside_usuario span{
	display: block;
	padding-bottom: 2px;
}

.aside_usuario_datos{
	padding: 5px;
}

.aside_usuario_nombre{
	padding-top: 0;
	font-family: robotomedium;
}

.aside_usuario_ultimo_acceso{
	padding-left: 2px;
	font-size: 12px;
}

/*.aside_usuario_logout, .aside_usuario_editar {
	margin-left: 20px;
    float: right;
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

.aside_usuario_editar{
	margin-left: 55px;
}

.aside_usuario_logout i, .aside_usuario_editar i{
    margin: -4px 0 0 10px;
    font-size: 20px;
    float: right;	
}*/

.aside_usuario_editar{
	float: left;
	font-size: 11px;
    font-family: robotomedium;
    display: inline-block;
    cursor: pointer;
}

.aside_usuario_editar i{
	font-size: 25px;
}

.aside_usuario_editar span{
	float: right;
    margin-left: 7px;
    padding-top: 6px;
}

aside+.wrapper{
	padding: 25px 15px 30px 15px;	
	min-height: calc(100vh - 70px);
	transition: 0.3s;
}

aside.desplegado+.wrapper{
	transform: translateX(250px);
}

.aside_opciones>li{	
	padding: 0 12.5px;
}

.aside_opciones>li.active, .aside_opciones>li.active:hover{
	background-color: #9c0000;
}

.aside_opciones>li:hover{
	background-color: rgba(115, 49, 49, 0.75);
}

.aside_opciones>li.active>a, .aside_opciones>li:hover>a{
	color: #fff;
}

.aside_opciones>li>a{
	color: #666;
	border-top: 2px solid #ddd;
	display: block;
	width: auto;
	overflow: hidden;		
}

.aside_opciones>li:first-child>a{
	border-top: 0;
}

.aside_opciones>li:hover>a{
	color: #fff;
	border-color: rgba(49, 17, 17, 0.58);
}

.aside_opciones>li.active>a{
	color: #fff;
	border-color: #dc0000;
}

.aside_opciones>li>a>div{
	width: 45px;
	text-align: center;
	float: left;
}

.aside_opciones>li>a>div>i{
	width: auto;
	display: block;
	font-size: 35px;	
	padding: 12px 12.5px 12px 0;
	/*transition: 0.5s;*/
}

.aside_opciones>li>a>span{
	display: block;
    width: calc(100% - 45px);
    float: left;
    font-size: 1.142857142857143em;
    font-family: roboto;
    padding: 18px 11.5px;
	/*transition: 0.5s;*/
}

.wrapper{
	padding: 25px 15px 0 15px;
	margin-bottom: 40px;
}

.ticker{
	overflow: hidden;
	height: 65px;
	margin-bottom: 20px;
}

.ticker>li, .ticker>li>div{
	height: 100%;
}

.ticker>li{
/* 	background-color: #f9f9f9; */
	color: #666;
	font-size: 20px;
	font-family: robotomedium;
}

.ticker>li:not(.hidden_md){
	display: none;
}

.ticker>li>div{
	border-right: 2px solid #ddd;
	padding: 5px;
	width: calc(100% / 3);
	padding: 7px 35px;
}

.ticker>li>div:last-child{
	border: 0;
}

.ticker>li>div>div:first-child{
	font-size: 12px;
	margin: 0 0 5px 5px;
	margin-left: 30px;
}

.ticker i{
	font-size: 25px;
	float: left;
}

.ticker span{
	float: left;
	font-size: 13px;
    margin: 2px 0 0 5px;    
}

/*.marquee{
	height: 50px;
	margin-bottom: 15px;	
	background: #efefef;
	padding: 16.5px 15px 16.5px 0;
	overflow: hidden;
	font-family: 'Roboto-Condensed';
}

.marquee>*>*>*{
	margin-right: 25px;
	display: inline-block;	
	float: left;
}

.marquee i{
	margin-left: 25px;
}

.marquee span{
	margin-left: 15px;
}*/

#merval, #bonos, #accionesLideres{
	margin-top: 2.564102564102564%;
}

table>tbody>tr>td {
	cursor: pointer;
}

/*#divisas .nav-tabs>li{
	display: table;
}

#divisas .nav-tabs>li>a{
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
}

#dolar{
	overflow: hidden;
}

.variacion, .compra, .venta{
	margin-bottom: 7px;
	font-family: 'Roboto-Condensed';
	text-transform: uppercase;
}

.detalle-tutorial{
	color: #ffffff;
}

.detalle-tutorial p{
	margin: 0;
	padding-bottom: 5px;
}

.detalle-tutorial h4{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 17px 0 17px 0;
}*/

/* SLIDER */

.flex-control-nav{
	bottom: 10px;
}

.flexslider{
	margin-bottom: 0;
	border: 0;
}

.slides img{
	width: 100%;
	height: auto;
	cursor: pointer;
}

.flex-direction-nav a{
	overflow: visible;
	visibility: hidden;
	top: calc(50% - 20px);
}

.flex-direction-nav a:before{
	color: rgba(0, 174, 239, 0.6);
	visibility: visible;
}

@-webkit-keyframes slideLeftBaCaption {
  0% {
    left: 100%;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
@-moz-keyframes slideLeftBaCaption {
  0% {
    left: 100%;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes slideLeftBaCaption {
  0% {
    left: 100%;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

.flex-caption{
	/*background: rgba(0, 174, 239, .5);*/
	background: rgba(0, 0, 0, .5);
    color: #1e90de;
    font-size: 32px;
    font-family: robotothin;
    color: #ffffff;       
    padding: 15px;
    margin: 0;
    height: 100px;
    position: absolute;
    bottom: 100px;  
    left: 0;  
    display: none;
    transition: 0.6s;
}

.flex-caption span{
	display: block;
	font-size: 20px;
	font-family: 'roboto';
	color: #00aeef;
	transition: 0.6s;
}

.slides img:hover+.flex-caption, .flex-caption:hover{
	background: rgba(0, 174, 239, .5);
}

.slides img:hover+.flex-caption span, .flex-caption:hover span{
	color: #ffffff;
}

.flex-active-slide .flex-caption{
	position: relative;
	display: block;
	animation: slideLeftBaCaption 600ms 200ms ease-in-out;
}

.flex-control-nav{
	display: none;
}

.flexslider .slides > li{
	margin-bottom: -100px; /* alto del caption*/
}

/* TABLAS */

table {
	width: 100% !important;
}

table thead{
	border: 1px solid #000000;
}

tbody>tr{
	cursor: pointer;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
	bottom: 19px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 0;
	vertical-align: middle;
}

.table>thead>tr>td, .table>thead>tr>th{
	padding: 0;
	background-color: rgb(109, 0, 0);
}

#bonos table>thead>tr>th:first-child{
	width: 40%;
}

#accionesLideres table>thead>tr>th:first-child{
	width: 50%;
}

table i{
	font-size: 23px;
	float: left;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{	
	height: 50px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-family: robotolight;
	border: 0;
}
/*.table-bordered>thead>tr>th{	
	height: 50px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
	border: 0;
	background: #4181bc;
}*/

.table-bordered>thead>tr>td>div{
	padding: 6px 11px;
}

.table-bordered>thead>tr>th>div{
	padding: 6px 11px;
}

.table-bordered>thead>tr>th:first-child>div{
	padding: 6px 0;
}

.table-bordered>thead>tr>th:first-child>div{
	border-left: 0;
}

.table-bordered>thead>tr>td:first-child>div{
	border: 0;
	padding-left: 0;
}

#bonos .table-bordered>thead>tr>td:nth-child(2)>div, #accionesLideres .table-bordered>thead>tr>td:nth-child(2)>div{
	border: 0;
}

.table-bordered>thead>tr>td:last-child>div{
	padding-right: 0;
}
.table-bordered>thead>tr>th:last-child>div{
	padding-right: 0;
}

.table-bordered{
	border: 1px solid #ddd;
}

.table-bordered>tbody>tr>td{
	border: 0;
	border-bottom: 1px solid #ddd;
	font-family: 'roboto-condensed';
	text-align: center;
}

.table-bordered>tbody>tr>td:first-child{
	text-align: left;
}

tbody>tr>td>div{	
	font-size: 16px;
	height: 45px;	 
	line-height: 23px;
	padding: 13px 11px;	
}

tbody>tr:last-child>td>div{
	border-bottom: 0;
	font-size: 16px;
}

#bonos tbody>tr>td:first-child>div, #accionesLideres tbody>tr>td:first-child>div{
	display: table-cell;
	padding: 0 0 0 5px;
    vertical-align: middle;    
}

tbody>tr>td:last-child>div{
	padding-right: 0;
}

table#bonos tr>td:first-child, table#accionesLideres tr>td:first-child {
	padding-left: 5px;
}

table thead>tr>td:first-child, table thead>tr>th:first-child{
	padding-left: 10px;
	text-align: left;
}

table tr>td:last-child {
	padding-right: 15px;
}

td>div i{
	margin-right: 6px;
}

tbody>tr>td>div>span{
	font-size: 13px;
}

.table-striped>tbody>tr:hover, .table-striped>tbody>tr:nth-of-type(odd):hover{
    background-color: #DEF7FF;
}

.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc{
	background-color: #6d0000;
}
#tabla_cotizaciones_wrapper>.row, #tabla_solicitudes_wrapper>.row{
	margin: 0;
}

#tabla_cotizaciones_wrapper{
	margin-top: 25px;
}

.modal_tenencia_detalle .modal_tenencia_variacion{
	color: #A0D468;
	padding: 5.5px 5px;
}

.modal_tenencia_variacion>*{
	line-height: 24px;
}

.modal_tenencia_variacion>i{
	margin-right: 5px;
} 

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc{
	text-shadow: none;
}

.ng-table th.sortable.sort-desc .sort-indicator:after{
	border-top: 4px solid #fff;
	opacity: 1;
}

.ng-table th.sortable.sort-asc .sort-indicator:after, .ng-table th.sortable.sort-asc .sort-indicator:before,
.ng-table th.sortable.sort-asc .sort-indicator:hover:after, .ng-table th.sortable.sort-asc .sort-indicator:hover:before{
	border-bottom: 4px solid #fff;
	opacity: 1;
}

/*.pagination>li>a:focus, .pagination>li>a:hover,
.pagination>li>span:focus, .pagination>li>span:hover{
	background-color: rgba(0, 174, 239, .3);
}*/

#cotizaciones, #cotizacion, #solicitudes, #perfil, #inicio, #comprar, #vender, #loading, #cotizacionDetalle{
	display: none;
}

/* TENENCIAS */
.indicadores_vistas {
	float: right;
	cursor: pointer;
}

.indicadores_vistas i{
	color: #666;
}

.indicadores_vistas i.active, .indicadores_vistas i.active:hover {
	color: #00aeef;
}

.indicadores_vistas i:hover {
	color: #64ccf3;
}

.tipo_indicador i, .perfil_tipo_datos span{    
    background-color: #f9f9f9;
    color: #666;
    cursor: pointer;
    display: block;
    font-style: normal;
    font-family: robotomedium;      
    margin: 0 0 10px 0;
    padding: 9px 27.5px;
    text-align: center;
    width: auto;
}

.tipo_indicador .active, .perfil_tipo_datos .active{
    background-color: #00AEEF;
    color: white;
}


.tenencias_recuadro {
/* 	min-height: 403px; */
	font-size: 35px;
	color: #666666;
    margin-bottom: 20px;
	margin-top: 10px;	
}

.datos_idoneos_recuadro {
	font-size: 35px;
	color: #666666;
	margin-bottom: 20px;
}

.cotizacion_recuadro {
/* 	min-height: 403px; */
	font-size: 35px;
	color: #666666;
	margin-bottom: 20px;
/* 	margin-top: 10px;	 */
}

#textoIdentidadSinVerificar{
	display: block; 
	background: rgba(221, 221, 221, 0.2);
	margin-left:15px;
	margin-right: 15px;	
}

#textoIdentidadSinVerificar .centrado{
	overflow: hidden;
	padding: 5%;
}

#textoIdentidadSinVerificar .imagenIdentidadSinVerificar{
	float: left;
	width: 170px;
}

.imagenIdentidadSinVerificar+div{
	clear: left;
	float: left;
}

#textoIdentidadSinVerificar .titulo{
	font-family: robotolight;    
	font-size: 32px;    
	color: #00aeef;
}

#textoIdentidadSinVerificar .segundoTitulo{
	font-family: robotolight;    
	font-size: 20px;
}

#textoIdentidadSinVerificar .texto{
	font-family: robotomedium;    
	font-size: 14px;
}

#textoIdentidadSinVerificar .sucursal{
	font-family: robotoblack;    
	font-size: 16px;
}

.h1{
	font-family: robotolight;
	font-size: 55px;
	color: #6d0000;
	min-height: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 50px;
	margin-top: 0;
}

.h1>h1{
	border-bottom: 1px solid #ddd;
	font-size: 52px;
	padding-bottom: 10px;
}

.h1>h1>i{
	margin-right: 15px;
}

.datos_idoneos_recuadro>div {
	border: 1px solid #eee;
	overflow: hidden;
}

.tenencias_recuadro>div {
	border: 1px solid #eee;
	overflow: hidden;
}

.cotizacion_recuadro>div {
	border: 1px solid #eee;
	overflow: hidden;
}

.cotizacion_datos_panel{
	border-bottom: 1px solid #dde1e0;
	padding: 2.5px 20px;
	overflow: hidden;
}

.cotizacion_datos_panel .titulo{
	overflow: hidden;
	padding: 5px 0;
}

.cotizacion_datos_panel .titulo>span{
	font-size: 11px;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
}

.cotizacion_datos_panel .titulo>div{
	font-size: 11px;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
}

.cotizacion_datos_panel .titulo>span:first-child{
	float: left;
    font-family: robotobold;
}

.idoneo_recuadro_panel{
	border-bottom: 1px solid #dde1e0;	
	border-top: 5px solid #00aeef;
	padding: 2.5px 20px;
	overflow: hidden;
}

.idoneo_recuadro_panel .titulo{
	overflow: hidden;
	padding: 5px 0;
}

.idoneo_recuadro_panel .titulo>span{
	font-size: 11px;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
}

.idoneo_recuadro_panel .titulo>div{
	font-size: 11px;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
}

.idoneo_recuadro_panel .titulo>span:first-child{
	float: left;
    font-family: robotomedium;
    font-size:16px;
}

.tenencia_datos .titulo{
	overflow: hidden;
	padding: 5px 0;
}

.tenencia_datos .titulo>span{
	font-size: 14px;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
}

.tenencia_datos .titulo>span:first-child{
	float: left;
    font-family: robotobold;
}

.wrapper>*>*>p{
	font-size: 14px;
	color: #333;
	min-height: auto;
	padding-left: 15px;
	margin-bottom: 20px;
}

.tenencia_datos{
	padding: 8.5px 25px;
	overflow: hidden;
}

.tenencia_datos_info{
	font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
	padding: 0px 20px;
	overflow: hidden;
}

.tenencia_datos_info i{
    font-size: 30px;
}

.cotizacion_datos_info{
	font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
	padding: 0px 20px;
	overflow: hidden;
}

.cotizacion_datos_info i{
    font-size: 49px;
    float: right;
}

.idoneo_recuadro_info{
	font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
	padding: 0px 20px;
	overflow: hidden;
}

.tenencia_datos_centrales{
	border-top: 1px solid #dde1e0;
	display: table;
	font-family: robotomedium;
	font-size: 13px;
	height: 40px;
	overflow: hidden;
	padding: 0 20px;
	width: 100%;
}

.tenencia_datos_centrales>*{
	display: table-cell;
	vertical-align: middle;
}

.cotizacion_datos_centrales{
	border-top: 1px solid #dde1e0;
	display: table;
	font-family: robotomedium;
	font-size: 13px;
	height: 40px;
	overflow: hidden;
	padding: 0 20px;
	width: 100%;
}

.cotizacion_datos_centrales>*{
	display: table-cell;
	vertical-align: middle;
}

.idoneo_recuadro_central{
/* 	border-top: 1px solid #dde1e0; */
	margin-bottom: 3px;
    margin-top: 10px;
	display: table;
	font-family: robotomedium;
	font-size: 13px;
	height: 40px;
	overflow: hidden;
	padding: 0 20px;
	width: 100%;
}

.idoneo_recuadro_central>*{
	display: table-cell;
	vertical-align: middle;
}

.cotizacion_valores{
	float: right;
	line-height: 39px;
}

.tenencia_valores{
	float: right;
	line-height: 39px;
}

.tenencia_datos_superior{
	padding-bottom: 8.5px;
}

.cotizacion_datos_superior{
	padding-bottom: 8.5px;
}

.idoneo_datos_superior{
/* 	padding-bottom: 8.5px; */
}

.tenencia_datos_valorTenencia{
	font-family: robotomedium;
    font-size: 45px;
}

.cotizacion_datos_valorTenencia{
	font-family: robotomedium;
    font-size: 35px;
}

.cotizacion_datos_valorTenencia{
	font-family: robotomedium;
    font-size: 35px;
}

.cotizacion_variacion_color_arriba{
	color: #a0d468;
}

.cotizacion_variacion_color_abajo{
	color: #e9573e;
}

.cotizacion_variacion_color_igual{
	color: #0157a6;
}

.tenencia_datos_valorCotizacion{
	font-family: robotomedium;
    font-size: 32px;
}

.tenencia_valores div{
	display: inline-block;
	float: left;
}

.cotizacion_valores div{
	display: inline-block;
	float: left;
}

.tenencia_valores i{
	float: left;
	font-size: 30px;	
	margin: 4.5px 10px 0 0;
}

.tenencia_valores_variacion{
    color: #ffffff;
    font-size: 17px;
    font-family: robotobold;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 6px;
    float: right;
}

.datosIdoneosDocumento{
	float: left;
	clear: left;
	font-size: 12px;
    margin-top: 0px;
    font-family: robotolight;
}

.datosIdoneosEmail{
	float: left;
	clear: left;
	font-size: 14px;
    margin-top: 0px;
    font-family: robotomedium;
    color: #00aeef
}

.tenencia_valores_ultima_cotizacion {
	float: left;
	clear: left;
	font-size: 12px;
    margin-top: 10px;
    font-family: robotobold;
}

.tenencia_valores div.tenencia_cantidad{
	font-size: 13px;
	float: right;
	margin-top: 10px;
}

.tenencia_opciones{
	font-size: 13px;
	font-family: robotomedium;
	overflow: hidden;
	border-top: 1px solid #DDE1E0;
}

.tenencia_opciones>div{
    cursor: pointer;
    float: left;
    height: 70px;
    padding: 26px 0;
    text-align: center;    
    width: 50%;
}

.tenencia_opciones>div>span{
/*     display: table; */
    margin: 0 auto;
}

.tenencia_opciones>div>span>span{
	display: table-cell;
    vertical-align: middle;
    padding-top: 0px;	
}


.tenencia_opciones>div:hover{
	background: #00aeef;
	color: #ffffff;
}

.tenencia_opciones>div:first-child{
	border-right: 1px solid #DDE1E0;	
}

.tenencia_opciones i{
	color: #00aeef;
	font-size: 14px;
	margin-left: 10px;
}

.tenencia_opciones>div:hover i{
	color: #ffffff;
}

.modal h3{
	border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    font-size: 30px;
}

.modal h3>span
{
	font-size: 14px;
	float: right;
	margin-top: 10px;
}

.modal_tenencia_detalle .modal-header>i,
.modal_tenencias_vender .modal-header>i,
.modal_compra .modal-header>i
{
    float: left;
    margin-top: 14px;
    font-size: 35px;
    margin-right: 10px;
}

/*.modal_compra .modal-header>i{
	margin-right: 0;
	margin-left: 10px;
} */

.modal_tenencia_detalle .modal-header>div,
.modal_tenencias_vender .modal-header>div,
.modal_compra .modal-header>div
{
    width: 50%;
    text-transform: uppercase;
    float: left;
    color: #666666;
    font-size: 17px;
    font-family: robotomedium;    
    margin-top: 10px;	
    padding: 0 15px;
}  

.modal_tenencia_detalle .modal-header>div:nth-of-type(1),
.modal_tenencias_vender .modal-header>div:nth-of-type(1),
.modal_compra .modal-header>div:nth-of-type(1)
{
	padding-left: 0;
	width: calc(50% - 45px);
	border-right: 1px solid #dddddd;
}

.modal_compra .modal-header>div:nth-of-type(1){
	width: 50%;
}

.modal_compra .modal-header>div:nth-of-type(2){
	width: calc(50% - 45px);
}

.modal .modal-header>div>div
{
	font-size: 14px;
    font-family: robotomedium;
}  

.modal .tenencia_valores_variacion{
	margin-top: 5px;
}

.modal_tenencia_detalle .modal-body, .modal_tenencias_vender .modal-body
,.modal_compra .modal-body, .modal_cambiar_contrasena .modal-body{
	background: #F9F9F9;
}

.modal-body table+table{
	margin-right: 0;
}

#tabla_tenencias_detalles{
	width: calc(100% - 250px);
	float: left;
	min-width: 311px;
}

#tabla_tenencias, #tabla_tenencias2{
	width: 296px;
	float: left;	
}

#tabla_tenencias, #tabla_tenencias2{
	margin-bottom: 0;
}

#tabla_tenencias tr, #tabla_tenencias2 tr{
	height: 36px;
}

#tabla_tenencias2{
	margin-left: 15px;
}

#tabla_tenencias_detalles{
	display: none;	
	float: right;
}

#tabla_tenencias_detalles>table>tbody>tr:first-child>td, 
#tabla_tenencias_detalles>table{
	border-top: 0;
}

#tabla_tenencias tr>td:first-child, 
#tabla_tenencias_detalles>table>tbody>tr>td:first-child{
	width: 50%;
}

.modal_tenencia_detalle .modal-body, .modal_compra .modal-body, .modal_tenencias_vender .modal-body{
	padding: 0;
}

.steps.clearfix{
	display: none;
}

#wizard_cotizaciones .wizard > .content{	
	height: 300px;
	min-height: 300px;
	margin: 0 0 10px 0;
	padding: 15px;
}

#wizard_compra .wizard > .content, #wizard_tenencias .wizard > .content, #wizard_tenencias_vender .wizard > .content{
	height: 260px;	
	margin: 0 0 10px 15px;
	min-height: 260px;
	overflow: visible;
	padding: 15px 15px 15px 0;
}

.wizard > .actions > ul > li{
	margin: 0 15px 0 0;
}

.wizard > .actions .disabled a{
	display: none;
}

.wizard > .content > .body{
	width: calc(100% - 15px);
	padding: 0;
	height: auto;	
}

.wizard h2{
	display: none;
}

.modal_tenencia_detalle table, .modal_compra table, .modal_tenencias_vender table {
    width: calc(50% - 7.5px) !important;
    margin-right: 15px;
    float: left;
}

.modal_tenencia_detalle form, .modal_tenencias_vender form{
	margin: 15px auto 0 auto;
	width: 220px;
	max-width: calc(100% - 326px);
}

.modal_tenencias_vender form{
	margin: 0 auto;
	max-width: none;
}

.modal_tenencias_vender .modal-dialog{
	width: 639px;
}

.modal_tenencias_vender .modal-footer button, .modal_compra .modal-footer button{
    display: block;
    width: 125px;
    float: right;
    padding: 0.5em 1em;
    text-decoration: none;
}

.modal_compra .modal-footer button{
	width: 100px;
}

.modal_tenencia_detalle .form-group, .modal_tenencias_vender .form-group{
	margin-bottom: 15px;
}

.modal_tenencia_detalle form button, .modal_tenencias_vender form button{
	width: 100%;
}

#select_mercado_limite_venta{
	margin-bottom: 15px;
}

/* COTIZACION */
.cotizacion>*{
	margin-left: 15px;
	margin-right: 15px;
}
.cotizacion, .tenencia, #tenencias .dataTables_info, #tenencias .dataTables_paginate { 
	color: #666666;
	display: none;
}

.breadcrumb{
	margin-bottom: 20px;
}

.breadcrumb>span:first-child{
	color: #00aeef;
	font-family: robotomedium;
	cursor: pointer;
}	

.breadcrumb>span:not(:first-child){
	color: #78797B;
}

.cotizacion h1, .tenencia h1{
	font-family: robotolight;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #bdbdbd;
}

.cotizacion h1>span, .tenencia h1>span {
	font-size: 12px;
    font-family: robotomedium;
}

.cotizacion_datos{
	margin-bottom: 15px;
}

.cotizacion_datos, .tenencia_detalle_datos {
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
	background: #F9F9F9;
}

.cotizacion_datos>*, .tenencia_detalle_datos>* {
	height: 82px;
}

.cotizacion_datos>.titulo{
	color: #666;
	font-size: 20px;
	height: auto;
	overflow: hidden;
	margin: -10px 0;
	padding: 0 15px;
	text-transform: uppercase;
}

.cotizacion_datos>.titulo>span{
	float: left;
	font-family: robotobold;
}

.cotizacion_datos>.titulo>span+span{
	float: right;
	font-family: roboto;
}

.cotizacion_datos>.cotizacion_datos_ultima, .tenencia_detalle_datos>.tenencia_detalle_datos_total_nominal {
	font-size: 45px;
    font-family: robotomedium;
    border-right: 2px solid #dddddd;
}

.cotizacion_datos>div>div, .tenencia_detalle_datos>div>div {
	color: #666666;
	font-size: 13px;
	font-family: robotobold;
    text-transform: uppercase;
}

.cotizacion_datos>.cotizacion_datos_variacion_dia, .tenencia_detalle_datos>.tenencia_detalle_datos_ultima {
	font-size: 27px;
	font-family: robotomedium;
	border-right: 2px solid #dddddd;
}

.cotizacion_datos>.cotizacion_datos_variacion_dia>div, .tenencia_detalle_datos>.tenencia_detalle_datos_ultima>div {
	margin-bottom: 10px;
}

.cotizacion_datos>.cotizacion_datos_variacion_dia>*:not(div), .tenencia_detalle_datos>.tenencia_detalle_datos_ultima>*:not(div) {
	float: left;
}

.cotizacion_datos>.cotizacion_datos_variacion_dia>i, .tenencia_detalle_datos>.tenencia_detalle_datos_ultima>i {
	margin-top: 4px;
	margin-right: 8px;
}

.cotizacion_datos>.cotizacion_datos_variacion_dia>span+span, .tenencia_detalle_datos>.tenencia_detalle_datos_ultima>span+span {
    color: #ffffff;
    font-size: 16px;
    padding: 1px 4px;
    margin-top: 7px;
    margin-left: 15px;
}

h1>button, .comprar_vender_boton button{
    font-size: 20px;
    font-family: roboto;
    padding: 10px 15px;
    text-align: center;
    float: right;
    margin-top: -2px;
}

h1>button>i, .comprar_vender_boton button i{
	margin-right: 20px;
}

.cotizacion_datos>*:nth-child(3), .cotizacion_datos>*:nth-child(4), .tenencia_detalle_datos>*:nth-child(3), .tenencia_detalle_datos>*:nth-child(4) {
	font-size: 12px;
    font-family: robotomedium;
    margin-top: 2px;
}

.cotizacion_datos table, .tenencia_detalle_datos table{
	width: 100%;
	margin-top: -2px;
}

.cotizacion_datos td, .modal_tenencia_detalle td, .tenencia_detalle_datos td, .modal_compra td, .modal_tenencias_vender td{	
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    cursor: auto;   
    font-family: robotomedium; 
    font-size: 13px;    
	padding: 5px;
}

.step_confirmacion>*{
	float: left;
}

.step_confirmacion td{
	/*color: #666;
	font-family: roboto;
	font-size: 15px;*/
	padding: 15px 5px;
	
}

.step_confirmacion table{
	margin-bottom: 15px;
}

.step_confirmacion p{
	font-size: 10px;
	line-height: 12px;
}

.step_confirmacion p:last-of-type{
	margin-bottom: 15px;
}

.modal_tenencia_detalle td, .modal_compra td, .modal_tenencias_vender td{
	padding: 8px 5px;
}

.cotizacion_datos table tr:first-child>td, .tenencia_detalle_datos table tr:first-child>td,
.modal_tenencia_detalle table tr:first-child>td, .modal_compra table tr:first-child>td, .modal_tenencias_vender table tr:first-child>td{
	border-top: 0;
}

.cotizacion_datos table tr:last-child>td, .tenencia_detalle_datos table tr:last-child>td,
.modal_tenencia_detalle tr:last-child td, .modal_compra tr:last-child td, .modal_tenencias_vender tr:last-child td{
	border-bottom: 0;
}

form label+label.col-md-8{
	color: #666666;
	padding-left: 27px;
	font-family: robotomedium;
}

/* COTIZACIONES */

#cantidad_monto, #modalidad{
	padding-right: 0;
}

#cantidad_monto>*, #modalidad>*{	
	margin-bottom: 15px;
}

#modalidad .radio-inline+.radio-inline{
	margin-left: 0;
}

.table-bordered>tbody>tr>td:not([sortable="'variacion'"]):not(:first-child){
	text-align: center;	
}

.actions.clearfix{
	background: #fff;
	border-top: 1px solid #ddd;
	height: 65px;
	padding: 15px 0;
}

/*.wizard > .actions .disabled>a{
	display: none;
}*/

#wizard_cotizaciones .table{
	margin-bottom: 0;
}

/* VARIOS */
/*.tooltip.right{
	top: auto !important;
	left: auto !important;
	margin-top: -35px;
	right: 35px;	
}

#perfil .tooltip.right {
	bottom: 46px;
	max-height: 23px;
	margin-top: 0;
    right: 20px;
    width: auto;
}*/

.fade{
	opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 300ms;
}

.fade.ng-hide-add {
  transition: all linear 300ms;
}

.modal_compra .form-group, .modal_tenencias_vender .form-group{
	margin-bottom: 0;
}

.modal_compra input, .modal_compra select, .modal_compra .wizard > .content > .body label.control-label,
.modal_tenencias_vender input, .modal_tenencias_vender select{
	margin-bottom: 35px;
}

.modal_compra section, .modal_tenencias_vender section{
	margin-top: -7.5px;
}

.tooltip.bottom{
	margin-top: -33px;
	top: auto !important;
}

#perfil .tooltip.bottom{
	top: 108px !important;
}

#perfil .personas_a_cargo .tooltip.bottom{
	left: 0 !important;
	top: 80 !important;
}

.tooltip-inner{
	background-color: #E9573F;
	border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
    max-width: 100%;
}

.tooltip-arrow{
	left: 5px !important;
}

.tooltip.bottom-left .tooltip-arrow, .tooltip-arrow{	
	border-bottom-color: #E9573F;	
}

.modal-header{
	border-bottom: 2px solid rgba(0, 174, 239, 0.5);
	padding-bottom: 13px;
	overflow: hidden;
}

#modal_cotizaciones_detalles .modal-header{
	padding-left: 25px;
}

.btn-default, .btn:hover, .btn:focus, .btn:active, .btn:active:focus{
	background-color: #00aeef;
	border-color: #00aeef;
	box-shadow: 0 0 0;
	color: #ffffff;
	outline: 0;
}

.pagination, .pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-radius: 0;
}

.btn.btn-default.ng-scope, .btn.btn-default.ng-scope:focus, .pagination>li>a, .pagination>li>span{
	background-color: #fff;
	border-color: #ddd;
	color: #666;
}

.btn.btn-default.ng-scope:hover, .btn.btn-default.ng-scope:active, .pagination>li>a:focus,
.pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	background-color: #f9f9f9;
    color: #666;
}
    

.btn.btn-default.ng-scope.active, .btn.btn-default.ng-scope.active:hover,
.btn.btn-default.ng-scope.active:focus, .btn.btn-default.ng-scope.active:active{
	background-color: #6d0000;
	border-color: #6d0000;
	box-shadow: 0 0 0;
	color: #fff;		
	outline: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #4181bc;
}

#modal_cotizaciones_detalles label{
	text-align: left;
}

/* PERFIL */
#perfil{
	color: #666;
}

#perfil form>div>div{
	float: left;
}

.perfil_datos_laborales, .perfil_datos_cambiar_contrasena{
	display: none;
}

#perfil>*, #perfil>*>*, #compra>*{
    overflow: hidden;
}

.perfil_tipo_datos, .tipo_indicador{
    display: block;
    margin: 0 15px 25px 15px;
}

.perfil_datos_personales>div>div, .perfil_datos_laborales>div>div{
	overflow: hidden;
}

.perfil_nueva_contrasena{
	display: none;
}

#perfil label {
	display: block;
    font-size: 16px;
    font-family: robotolight;
    margin-bottom: 2.5px;
}

#perfil label>span{
	color: #00aeef;
	cursor: pointer;
	float: right;
	font-size: 12px;
	margin-top: 5px;
}

.perfil_campo.col-xs-6{
	padding: 0;
}

.perfil_campo{
	border: 2px solid #eee;
    height: 45px;  
    margin-bottom: 15px;  
}

.perfil_campo i{
	float: left;
	font-size: 27px;
	padding: 7px 9px;	
}

.perfil_campo input, .perfil_campo select, .perfil_campo select:focus{
	border: 0;
	color: #666;
	float: right;
	font-size: 15px;
	outline: none;
	padding: 10px 15px;
	width: 100%;
}

.perfil_campo i+input{
	padding-left: 7.5px;
	width: calc(100% - 45px);
}

#perfil button{
	font-size: 17px;
    font-family: roboto;
    padding: 10px 15px;
    text-align: center;
    float: right;
    width: 100%;
}
    
.modal_cambiar_contrasena h3{
	border-bottom: 0;
}

.modal_cambiar_contrasena input{
	width: 100%;
}

.modal_cambiar_contrasena button{
	margin-left: 5px;
}

/* COMPRAR */
#comprar, #vender{
	color: #666;
}

.comprar_vender_boton{
	float: right;
}

.btn-default-focus{
	background-color: transparent;
	border-color: #eee;
	box-shadow: 0 0 0;
	outline: none;
}

.btn-default.ui-select-toggle, .btn-default.ui-select-toggle:active, .btn-default.ui-select-toggle:hover, .btn-default.ui-select-toggle:focus{
	background-color: transparent;
	border: 0;
	color: #666;
	height: 100%;
	padding: 10px 15px;
}

.btn-default.ui-select-toggle i{
	padding: 0;
}

.ui-select-dropdown.dropdown-menu{
	padding: 0;
}

.ui-select-search, .ui-select-search:focus{
	border: 2px solid rgb(238, 238, 238);
    height: 45px;
    margin-bottom: 35px;
}

/* FOOTER */


#footer_visible{
	color: #ffffff;
}

#footer_opciones{
	padding: 20px 15px 15px 15px;
	border-bottom: 1px solid #ffffff;
}

#footer_2da_linea{
	padding: 20px 0 15px 0;
	border-bottom: 0;
}

#footer_2da_linea>*{
	padding: 0;
}

.opcion_footer{
	display: inline-block;
	padding: 0 1.315789473684211%;
	font-size: 0.8571428571428571em;
	border-right: 1px solid #ffffff;
}

#footer_opciones>.opcion_footer:last-child{
	border-right: 0;
}

/* MODAL LOGIN */

.modal-content {
	border: 0;
	border-radius: 0;
}

.modal_login .modal-dialog{
	margin: 0 auto;
	color: #fff;	
}

.modal_login h4{
	font-size: 25px;
    font-family: robotolight;
    height: 54px;
	margin-bottom: 25px;
}

.modal_login h5 {
	height: 74px;
	font-size: 15px;
	line-height: 1.5;
	font-family: roboto;
	margin-top: -5px;
}

.modal_login span:not(.registro_volver), .step_confirmacion label>span{
	width: 50%;
    height: 1px;
    display: block;
    clear: right;
    background: #fff;
    margin-bottom: 20px;
}

.modal_login p{
	font-family: robotolight;
	margin-bottom: 55px;
}

.modal_login .modal-body{
	margin: 0;
	min-height: 100vh;
	overflow: visible;
	padding: 0;
	width: 100%;
}

.login_form>div{
	padding: 45px 30px;	
}

.login_form>div{
	border-bottom: 1px solid #fff;
}

.registro_form, .registro_form_legales, .login_legales{
	border: 0;
	height: 100%;
	left: 0;	
	padding: 45px 30px;
	position: absolute;			   
	top: 0; 
    transform: translateY(-100%);
    transition: transform 0.8s ease-in-out;
    width: 100%;
    z-index: 1;
}

.registro_form{
	height: auto;
}

.registro_form>div {
    overflow: hidden;
}

.registro_form.active, .registro_form_legales.active, .login_legales.active{
	transform: translateY(0);	
}

.login_opciones_legales{
	bottom: 20px;
	cursor: pointer;
	left: 0;
	position: absolute;
	width: 100%;
}

.registro_form_legales input[type="checkbox"]+label, .step_confirmacion input[type="checkbox"]+label{
	display: block;
    float: left;
    font-family: robotolight;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    width: 100%;
}

.registro_form_legales input[type="checkbox"]+label>span, .step_confirmacion input[type="checkbox"]+label>span{
	background-color: #fff;
    cursor: pointer;
    float: left;
    line-height: 20px;
    height: 20px;
    margin: 2px 25px 0 0;
    text-align: center;
    width: 20px;
}

.step_confirmacion input[type="checkbox"]+label>span{
	border: 1px solid #ddd;
	margin-right: 15px;
}

.legales_texto{
	background-color: rgba(0, 0, 0, 0.1);
	height: calc(100% - 216px);
	margin-bottom: 25px;	
	padding: 15px;
}

.login_legales .legales_texto{
	height: calc(100% - 169px);
	margin-bottom: 50px;
}

.modal_login .legales_texto div>p{
	margin: 0;
}

.modal_login .legales_texto div>p:last-child{
	margin-bottom: 20px;
}

.legales_texto>div{
	height: 100%;
	overflow-y: auto;
	text-align: justify;
}

.legales_texto p{
	padding-right: 15px;
}

.modal_login .login_boton{
	bottom: 50px;	
	position: absolute;	
	width: calc(100% - 60px);
}
		
.legales_botones{	
	bottom: 45px;
	position: absolute;
	width: calc(100% - 60px);
}

.login_form>div:last-child{
	border: 0;
}

.modal_login select.ng-not-empty {
color: #666;
}

.modal_login select {
	width: 100%;
	padding: 7.5px;
	margin: 0 0 34px 0;	
	color: #666;
}

.modal_login select {
	color: #A9A9A9;
}

select option {
	color: #666;
}

.modal_login input {	
	width: 100%;
	padding: 7.5px;
	margin: 0 0 35px 0;	
	color: #666;
}

.modal_login .login_form>div>form>input:last-of-type{
	margin-bottom: 0;
}

.modal_login i{
	float: left;
	margin-right: 15px;
	cursor: pointer;
}

.modal_login a{
	color: #fff;
}

.modal_login a:hover{
	text-decoration: underline;
}

.login_opciones_contrasena {
	font-style: italic;
	margin: -30px 0 55px 5px;    
    text-align: right;
    margin-top: 10px;
    margin-bottom: 55px;
    cursor: pointer;
}

.modal_login button{
	padding: 10px 0;
	background-color: #03509e;
	color: #fff;
	width: 100%;
}

.modal_login .registro_boton>button{
	margin: 35px 0 10px 0;
}

.registro_volver {
    margin: 4px 0 10px 0;
    margin-top: 4px;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
}

/* MODAL ERROR */
.modal_error .modal-dialog{
	width: calc(100% / 3 * 2);
}

.modal_error .modal-header{
	padding: 20px;
	border-bottom: 0;
	color: #fff;
}

.modal_error .modal-header .close{
	color: #fff;
	opacity: 1;
	font-size: 28px;
	margin-top: -5px;
}

.modal_error h5.modal-title{
	font-family: roboto;
	text-align: center;
}

.modal_error .modal-body{
	padding: 30px 0;
	color: #666;
}

.modal_error .modal-body>*{
	padding: 0 20px;	
}

.modal_error .modal-body h6{
	margin-bottom: 20px;
	font-size: 16px;	
}

#inicio{
	margin-top: -35px;
}

#inicio .ticker>li>div {
    padding: 7px 10px;
}

#inicio .ticker span {
    margin: 5px 0 0 2px;
}

#inicio .flex-direction-nav{
	display: none;
}

/* VERIFICAR CUENTA */
.verificar_cuenta {
	color: #414143;
/* 	MGM VERIFICAR */
/* 	min-height: calc(100vh - 70px - 111px); */
	min-height: calc(100vh - 199px);
	padding-bottom: 40px;
	text-align: center;
}

.verificar_cuenta .h1{
	float: none;
	margin: auto;
}

.verificar_cuenta .h1>h1{
	border: 0;
	font-size: 35px;
	margin: 65px 0 60px 0;
	padding: 0;
	text-transform: uppercase;
}

.verificar_cuenta p{
	display: inline-block;
	font-size: 18px;
	margin: auto;
	margin-bottom: 50px;
}

.verificar_cuenta .isotope{
	padding-left: 0%; 
	padding-right: 0%;
}

@media screen and (min-width: 992px){		
.verificar_cuenta .isotope{
	padding-left: 20%; 
	padding-right: 20%;
}}

.verificar_cuenta label, .verificar_cuenta i, .verificar_cuenta input{
	color: #666;
}

.verificar_cuenta label, .verificar_cuenta .perfil_campo{
	float: left;
	text-align: left;
	width: 100%;
}

.verificar_cuenta .perfil_campo{
	margin-bottom: 35px;
}

.verificar_cuenta label{
	margin-bottom: 5px;
}

.verificar_cuenta .copete{
	padding-top:10px;
	color:black; 
	font-size: 12px; 
	font-family: robotolight;
}

.verificar_cuenta .header{
	padding-top: 30px;
	padding-bottom: 30px; 
	width: 100%; 
	background: white;
}

.verificar_cuenta button{
	font-size: 22px;
	margin-top: 20px;
	padding: 20px 30px;
}

.verificar_cuenta .spanMedio{
	margin-right: 250px; 
	margin-left: 250px; 
	display: block; 
	font-family:Arial; 
	font-size:12pt; 
	color: #666;  
	padding-bottom : 50px; 
	border-bottom-color: #e6e6e6; 
	border-bottom-style: solid; 
	border-bottom-width: 1px;
}
/* MEDIA QUERIES*/
@media screen and (min-width: 641px){
	header>.container>*{
		text-align: center;
	}
	.header_boton_menu{
		margin-right: 0;
	}
}


@media screen and (min-width: 768px){		
	body{
		margin-top: 70px;
	}	
	aside{
		top: 70px;
	}
	header{
		height: 70px;
		padding: 18.5px 0;
	}
	.header_logo{
		padding: 0;
	}
	.header_logo>img{
		height: 100%;
	}
	.header_boton_menu span:before {
		top: -10px;
	}
	.header_boton_menu span:after {
		bottom: -10px;
	}
	.header_boton_menu span, .header_boton_menu span:before, .header_boton_menu span:after{
		height: 5px;
	}
	.header_boton_menu {
		top: 32px;
	}
	.header_login span{
		display: block;
	}
	.form-horizontal .control-label{
		text-align: left;
	}
	.modal_compra .modal-dialog{
		width: 560px;
	}
		
	#modal_login .modal-dialog.container, .modal_error .modal-dialog{
		width: 375px;
	}
	#inicio>div>.container{
		width: 100%;
	}				
	.login_form>div, .registro_form{
		min-height: 355px;
	}
	.registro_volver{
		margin: 10px 0 0 0;
		text-align: left;
		cursor: pointer;		
	}		
	.tipo_indicador i, .perfil_tipo_datos span{
		display: inline-block;
		margin: 0 5px 0 0;
	}
	.tipo_indicador i{
		display: inline-block;
	    width: auto;
    }
    .perfil_tipo_datos, .tipo_indicador{
	    margin: 35px 15px 30px 15px;
	}	
	.header_logout{
		right: 30px;
	}
	.header_logout span{
		display: block;
	}		
	#perfil button{
		width: auto;
	}	
	.test_inversor h1 {
		font-size: 80px;
	}
	.modal-dialog {
		margin-top: 15vh;
	}		
	.modal_login .modal-dialog{
		margin-top: 10vh;
	}
	.modal_login .modal-body{
		min-height: 0;
		overflow: hidden;
		padding: 0 15px;
	}	
	.registro_form, .registro_form_legales, .login_legales{
		padding: 45px;
	}
	.registro_form{
		height: 100%;
	}
	.legales_botones{	
		width: calc(100% - 90px);
	}
	.registro_captcha .tooltip.bottom{
		left: calc(50% - 150px) !important;
	}
	.ticker i{
		font-size: 32px;
	}
	.ticker>li>div{
		padding: 7px 15px;
	}
	
}

@media screen and (min-width: 992px){	
	.modal_tenencia_detalle .modal-dialog,
	.modal_tenencias_vender .modal-dialog,
	.modal_compra .modal-dialog{
		width: 639px;
	}	
	.modal_tenencia_detalle .modal-dialog,
	.modal_tenencias_vender .modal-dialog,
	.modal_compra .modal-dialog
	{
		margin-top: calc(100vh / 2 - 200px);
	}	
	#modal_login .modal-dialog.container{
		width: 646.6666666666667px;
	}	
	.modal_login .registro_boton>button{
		margin-top: 15px;
	}
	.modal_error .modal-dialog{
		width: 485px;
	}	
	.login_form>div{
		border-right: 1px solid;
		border-bottom: 0;	
	}
	#googleRecaptcha>div>div{
		margin: 0;
	}
	.registro_captcha{
		margin: 0; 
	}
	.modal_login .modal-body, .login_form>div, .registro_form{
		height: 562px;
	}
	.modal_login .modal-dialog{
		width: 700px;			
	}
	#bonos i, #accionesLideres i{
		display: none;
	}	
	.login_opciones_contrasena {
		margin: -30px 0 55px 5px;    
	    text-align: right;
	    cursor: pointer;
	}
	.modal_login .login_boton, .legales_botones{	
		bottom: 64px;
	}			
	.login_opciones_legales{
		bottom: 25px;
	}
	.modal-login{
		margin-top: 20vh;
	}
	.modal_login .modal-dialog{
		margin-top: 15vh;
	}
	.ticker>li:not(.hidden_md){
		display: block;
	}
	.ticker>li>div{
		width: 20%;
	}	
	.hidden_md{
		display: none;
	}
	.ticker span{
		font-size: 20px;
	    margin: 2px 0 0 10px;    
	}
	.imagenIdentidadSinVerificar+div{
		clear: none;
		margin-left: 6%;
	}
}

@media screen and (min-width: 1200px){	
	aside{
		transform: translateX(0);
	}
	.header_boton_menu, #opcion_salir {
		display: none;
	}
	aside+.wrapper {
		width: 	calc(100% - 250px);
		margin: 0;
		transform: translateX(250px);
	}	
	#modal_login .modal-dialog.container{
		width: 780px;
	}	
	.modal_error .modal-dialog{
		width: 585px;
	}	
	.modal_login .modal-dialog{
		width: calc(1170px / 3 * 2);			
	}
	#bonos i, #accionesLideres i{
		display: block;
	}
	header>.container{
		width: 100%;
	}
	header{
		padding-right: 15px;
	}
	#perfil label{
		margin-bottom: 5px;
	}
	.perfil_campo{
	    margin-bottom: 35px;  
	}
	.registro_captcha .tooltip.bottom{
		left: 22px !important;
	}
}

@media screen and (min-width: 1450px){
	aside+.wrapper {
		width: 1170px;
		margin: auto;
		margin-left: 250px;
		transform: translateX(0);
	}
	aside.desplegado+.wrapper{
		transform: translateX(0);
	}
	header>.container{
		width: 1170px;
	}
	.tenencia_valores i{
/* 		margin: 6px 10px 0 0; */
	}	
	.tenencia_valores_variacion{
    	margin-top: 10px;
	}
	#inicio .ticker span {
	    margin: 5px 0 0 10px;
	}
	.ticker>li>div{
		padding: 7px 35px;
	}
	header>.container{
		width: 100%;
	}
	.header_logout{
		right: calc(100vw - 1170px - 250px);
	}
}

@media screen and (min-width: 1670px){
	aside+.wrapper{
		margin: auto;
	}		
	header>.container{
		width: 1170px;
	}
	.header_logout{
		right: 15px;
	}
}

/* GRAFICOS NUEVO PLUGIN */
#chart_cotizacion{
	margin-top: 25px;
}

.highcharts-range-selector-buttons .highcharts-button rect {
    rx: 6px;
    ry: 6px;
}

g.highcharts-button{
    display: none;
}

.chart{
	margin-left: 5px;
}

.highcharts-container, svg:not(:root){
	overflow: visible !important;
}

.cotizacion .highcharts-range-selector-buttons g.highcharts-button{
	display: inline;
}

.tipo_indicador{
    display: block;
}

/*.tipo_indicador i{
    padding: 9px 27.5px;
    background-color: #FFFFFF;
	color: #666;
    text-align: center;
    display: block;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
}*/

.tipo_indicador .active{
    background-color: #00AEEF;
    color: white;
}

#indicadoresTable{
	padding: 10px 15px 0px 15px;
}

/* remove the spinner */
.input-no-spinner::-webkit-outer-spin-button, .input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader{
	width: 100px;
	height: 100px;
	position: absolute;
	left:50%; top:50%;
	margin:-50px 0 0 -50px;	
}

.chart-gauge{
  	margin: 100px auto 20px auto; 
} 
.chart-filled{
	fill: #055fad;
}
.chart-empty{
	fill: #32bef3;
}

.needle, .needle-center{
	fill: #fff;
}

svg {
  font: 10px sans-serif;
}

.slide_left h1+p, .slide_left #test_inversor_wizard{
	transform: translateX(-100vw);
	transition: 1s;
}

.test_inversor_grafico{
	display: none;
	margin-top: -30px;
}