@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?l19uvh');
    src:    url('../fonts/icomoon.eot?l19uvh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*[class^="icon_ba"], [class*=" icon_ba"]*/
.icon_ba {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_ba_seguridad:before {
	content: "\e931";
}
.icon_ba_telefono:before {
    content: "\e92e";
}
.icon_ba_celular:before {
    content: "\e92f";
}
.icon_ba_calendario:before {
    content: "\e930";
}
.icon_ba_laptop:before {
    content: "\e926";
}
.icon_ba_chat:before {
    content: "\e92b";
}
.icon_ba_favoritos:before {
    content: "\e92c";
}
.icon_ba_autogestion:before {
    content: "\e92d";
}
.icon_ba_venta:before {
    content: "\e922";
}
.icon_ba_compra:before {
    content: "\e928";
}
.icon_ba_info:before {
    content: "\e929";
}
.icon_ba_usuario:before {
    content: "\e92a";
}
.icon_ba_panel:before {
    content: "\e927";
}
.icon_ba_home:before {
    content: "\e923";
}
.icon_ba_peso:before {
    content: "\e924";
}
.icon_ba_cotizacion:before {
    content: "\e925";
}
.icon_ba_sumar_fill:before {
    content: "\e90e";
}
.icon_ba_flecha_igual_rounded_fill:before {
    content: "\e90d";
}
.icon_ba_flecha_izq_rounded_fill:before {
    content: "\e91e";
}
.icon_ba_flecha_der_rounded_fill:before {
    content: "\e91f";
}
.icon_ba_flecha_arriba_rounded_fill:before {
    content: "\e920";
}
.icon_ba_flecha_abajo_rounded_fill:before {
    content: "\e921";
}
.icon_ba_sindicacion:before {
    content: "\e91a";
}
.icon_ba_secciones_menu:before {
    content: "\e91b";
}
.icon_ba_parametria:before {
    content: "\e91c";
}
.icon_ba_dashboard:before {
    content: "\e91d";
}
.icon_ba_contedido:before {
    content: "\e900";
}
.icon_ba_flecha_arriba:before {
    content: "\e902";
}
.icon_ba_flecha_abajo:before {
    content: "\e90f";
}
.icon_ba_flecha_izq:before {
    content: "\e912";
}
.icon_ba_flecha_der:before {
    content: "\e913";
}
.icon_ba_flecha_bi_h:before {
    content: "\e914";
}
.icon_ba_flecha_bi_v:before {
    content: "\e915";
}
.icon_ba_mover:before {
    content: "\e910";
}
.icon_ba_flecha_arriba_rounded:before {
    content: "\e916";
}
.icon_ba_flecha_abajo_rounded:before {
    content: "\e917";
}
.icon_ba_flecha_izq_rounded:before {
    content: "\e918";
}
.icon_ba_flecha_der_rounded:before {
    content: "\e908";
}
.icon_ba_check_rounded:before {
    content: "\e903";
}
.icon_ba_eliminar:before {
    content: "\e906";
}
.icon_ba_sumar:before {
    content: "\e90b";
}
.icon_ba_arrastrar:before {
    content: "\e911";
}
.icon_ba_alerta:before {
    content: "\e901";
}
.icon_ba_basura:before {
    content: "\e904";
}
.icon_ba_editar:before {
    content: "\e905";
}
.icon_ba_editar_ficha:before {
    content: "\e907";
}
.icon_ba_fichas:before {
    content: "\e909";
}
.icon_ba_mail:before {
    content: "\e90a";
}
.icon_ba_salir:before {
    content: "\e90c";
}
.icon_ba_lupa:before {
    content: "\e919";
}

