*{
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	text-decoration: none; 
 	box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: #333;
}

button{
	border: 0;
}

button:focus{
	outline: none;
}

img{
	width: 100%;
}

.form-control{
	border-radius: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

h1{
	font-weight: 100;
}

.modal-body{
	overflow: hidden;
}

input{
	outline: none;
}

label{
	margin: 0;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.form-control:focus{
	outline: none;
	box-shadow: none;
	border-color: #ccc; 
}

.btn{
	border-radius: 0;
}